<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='libraries/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sketch.js') }}"></script> 
    <script>
        const imagePath_earth = "{{ url_for('static', filename='assets/map_earth.jpg') }}";
        const imagePath_moon = "{{ url_for('static', filename='assets/map_moon.jpg') }}";
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div id="contain" class="container">
    <div class="sidebar">
        <header>
            <h1 class="title">AUCONAG</h1>
        </header>
        <nav>
            <ul>
            <li><button id="create">Create</a></li>
            <li><button id="run">Run</a></li>
            <li><button id="test">Test</a></li>
            </ul>
        </nav>
        <input id="input"></input>
        <div class="infos">
            <div class="info">SPEED UP: <span id='sim'></span></div>
            <div class="info">FPS: <span id='aff'></span></div>
            <div class="info">NB AGENT: <span id='nbage'></span></div>
        </div>
</div>
    <div id="sketch" class="sketch_div"></div>
</div>
</body>
</html>